#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
/* .add{
  padding: 2px 8px;
  text-align: center;
} */
/* .task{
  margin: 1rem 2rem 1rem 0px;
} */
.container {
  width: 1000px;
  border: 1px solid #ccc;
  padding: 5rem;
  justify-content: space-between;
}

.dynamic-box {
  border: 1px solid ;
  padding:5rem;
  gap: 3rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 1000px;
  justify-content: space-between;
}
.task-list{
  display: flex;
  justify-content: space-between;
}
.todos{
  display: flex;
  align-items: center;
  justify-content: space-between;
} 
.btns{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 2px;
}
ol{
  padding-left: 0px;
}

